@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
}
h1 {
    font.size: 17px;
    padding: 10px 10px 10px 150px;
}
nav {
    display: flex;
}

.button {
    width: 170px;
    height: 41px;
    padding-top: 10px;
    box-sizing: border-box;
    
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
    margin: 10px 10px 10px 3px;
    }
.button:hover {
    opacity: 0.5;
}
.in {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.tex {
    font-size: 20px;
}
.box {
    margin: 0px 0px 0px 50px;
}